<!DOCTYPE html>
<html>
  <head>
    <title>Bitles</title>
    <link href="public/stylesheets/main/index.css" rel="stylesheet">
    <link href="public/stylesheets/main/request.css" rel="stylesheet">
    <script src="public/js/vendor/angular.min.1.3.8.js"></script>
  </head>

  <body ng-app="main"  ng-controller="mainController">
      <div class="buttons-group">
        <h5>This is Bitles</h5>
      </div>
      <div id="request_info" ng-controller="requestController">
        <div class="slim-scroll" id="slim">
          <div ng-repeat="request in requestList" class="request_cell" ng-click="openWindows(request)">
            <div class="host">host:{{request.host}}</div>
            <div class="path">path:{{request.path}}</div>
            <div class="time">{{request.time}}</div>
          </div>
        </div>
      </div>

      <div id="request_detail" ng-controller="detailController">
        <div id="centeredmenu">
           <ul>
             <li><a href="#" class="active" id="req_tab">request</a></li>
             <li><a href="#" id="res_tab">response</a></li>
           </ul>
        </div>
          <div ng-include="isRequest ? './view/requestDetail.html' : './view/responseDetail.html'"></div>
      </div>

<script src="public/ace/assets/js/jquery-2.0.3.min.js"></script>
<script src="public/ace/assets/js/jquery.slimscroll.min.js"></script>

<!-- app -->
<script src="./public/js/app.js"></script>

<!-- controllers -->
<script src="./public/js/main/index.js"></script>
<script src="./public/js/main/requestController.js"></script>
<script src="./public/js/main/detailController.js"></script>
  </body>
</html>

